In [41]:
# Importing necessary libraries
import pandas as pd

In [42]:
# Reading the dataset
df = pd.read_csv('data1.csv')
df.sample(5)

                                             Duration
15    15        60  '2020/12/15'     98       123 ...
7     7        450  '2020/12/08'    104       134 ...
9     9         60  '2020/12/10'     98       124 ...
31    31        60  '2020/12/31'     92       115 ...
3     3         45  '2020/12/04'    109       175 ...

In [43]:
# Checking whether we have proper spaces in the duration column
for i in df['Duration']:
    a = i.split(' ')
    print(a)

['', '', '0', '', '', '', '', '', '', '', '', '60', '', "'2020/12/01'", '', '', '', '110', '', '', '', '', '', '', '130', '', '', '', '', '409.1']
['', '', '1', '', '', '', '', '', '', '', '', '60', '', "'2020/12/02'", '', '', '', '117', '', '', '', '', '', '', '145', '', '', '', '', '479.0']
['', '', '2', '', '', '', '', '', '', '', '', '60', '', "'2020/12/03'", '', '', '', '103', '', '', '', '', '', '', '135', '', '', '', '', '340.0']
['', '', '3', '', '', '', '', '', '', '', '', '45', '', "'2020/12/04'", '', '', '', '109', '', '', '', '', '', '', '175', '', '', '', '', '282.4']
['', '', '4', '', '', '', '', '', '', '', '', '45', '', "'2020/12/05'", '', '', '', '117', '', '', '', '', '', '', '148', '', '', '', '', '406.0']
['', '', '5', '', '', '', '', '', '', '', '', '60', '', "'2020/12/06'", '', '', '', '102', '', '', '', '', '', '', '127', '', '', '', '', '300.0']
['', '', '6', '', '', '', '', '', '', '', '', '60', '', "'2020/12/07'", '', '', '', '110', '', '', '', '', '', '', '136', '', '', '', '', '374.0']
['', '', '7', '', '', '', '', '', '', '', '450', '', "'2020/12/08'", '', '', '', '104', '', '', '', '', '', '', '134', '', '', '', '', '253.3']
['', '', '8', '', '', '', '', '', '', '', '', '30', '', "'2020/12/09'", '', '', '', '109', '', '', '', '', '', '', '133', '', '', '', '', '195.1']
['', '', '9', '', '', '', '', '', '', '', '', '60', '', "'2020/12/10'", '', '', '', '', '98', '', '', '', '', '', '', '124', '', '', '', '', '269.0']
['', '', '10', '', '', '', '', '', '', '', '60', '', "'2020/12/11'", '', '', '', '103', '', '', '', '', '', '', '147', '', '', '', '', '329.3']
['', '', '11', '', '', '', '', '', '', '', '60', '', "'2020/12/12'", '', '', '', '100', '', '', '', '', '', '', '120', '', '', '', '', '250.7']
['', '', '12', '', '', '', '', '', '', '', '60', '', "'2020/12/12'", '', '', '', '100', '', '', '', '', '', '', '120', '', '', '', '', '250.7']
['', '', '13', '', '', '', '', '', '', '', '60', '', "'2020/12/13'", '', '', '', '106', '', '', '', '', '', '', '128', '', '', '', '', '345.3']
['', '', '14', '', '', '', '', '', '', '', '60', '', "'2020/12/14'", '', '', '', '104', '', '', '', '', '', '', '132', '', '', '', '', '379.3']
['', '', '15', '', '', '', '', '', '', '', '60', '', "'2020/12/15'", '', '', '', '', '98', '', '', '', '', '', '', '123', '', '', '', '', '275.0']
['', '', '16', '', '', '', '', '', '', '', '60', '', "'2020/12/16'", '', '', '', '', '98', '', '', '', '', '', '', '120', '', '', '', '', '215.2']
['', '', '17', '', '', '', '', '', '', '', '60', '', "'2020/12/17'", '', '', '', '100', '', '', '', '', '', '', '120', '', '', '', '', '300.0']
['', '', '18', '', '', '', '', '', '', '', '45', '', "'2020/12/18'", '', '', '', '', '90', '', '', '', '', '', '', '112', '', '', '', '', '', '', 'NaN']
['', '', '19', '', '', '', '', '', '', '', '60', '', "'2020/12/19'", '', '', '', '103', '', '', '', '', '', '', '123', '', '', '', '', '323.0']
['', '', '20', '', '', '', '', '', '', '', '45', '', "'2020/12/20'", '', '', '', '', '97', '', '', '', '', '', '', '125', '', '', '', '', '243.0']
['', '', '21', '', '', '', '', '', '', '', '60', '', "'2020/12/21'", '', '', '', '108', '', '', '', '', '', '', '131', '', '', '', '', '364.2']
['', '', '22', '', '', '', '', '', '', '', '45', '', '', '', '', '', '', '', '', '', '', 'NaN', '', '', '', '100', '', '', '', '', '', '', '119', '', '', '', '', '282.0']
['', '', '23', '', '', '', '', '', '', '', '60', '', "'2020/12/23'", '', '', '', '130', '', '', '', '', '', '', '101', '', '', '', '', '300.0']
['', '', '24', '', '', '', '', '', '', '', '45', '', "'2020/12/24'", '', '', '', '105', '', '', '', '', '', '', '132', '', '', '', '', '246.0']
['', '', '25', '', '', '', '', '', '', '', '60', '', "'2020/12/25'", '', '', '', '102', '', '', '', '', '', '', '126', '', '', '', '', '334.5']
['', '', '26', '', '', '', '', '', '', '', '60', '', '', '', '', '', '20201226', '', '', '', '100', '', '', '', '', '', '', '120', '', '', '', '', '250.0']
['', '', '27', '', '', '', '', '', '', '', '60', '', "'2020/12/27'", '', '', '', '', '92', '', '', '', '', '', '', '118', '', '', '', '', '241.0']
['', '', '28', '', '', '', '', '', '', '', '60', '', "'2020/12/28'", '', '', '', '103', '', '', '', '', '', '', '132', '', '', '', '', '', '', 'NaN']
['', '', '29', '', '', '', '', '', '', '', '60', '', "'2020/12/29'", '', '', '', '100', '', '', '', '', '', '', '132', '', '', '', '', '280.0']
['', '', '30', '', '', '', '', '', '', '', '60', '', "'2020/12/30'", '', '', '', '102', '', '', '', '', '', '', '129', '', '', '', '', '380.3']
['', '', '31', '', '', '', '', '', '', '', '60', '', "'2020/12/31'", '', '', '', '', '92', '', '', '', '', '', '', '115', '', '', '', '', '243.0']

In [44]:
# Checking the information of the columns (datatypes and the missing values)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     object
dtypes: object(1)
memory usage: 388.0+ bytes

- The dataframe has to be cleaned by removing the spaces and split it to multiple columns with proper names for the columns

In [45]:
# Clean up the spaces and split the 'Duration' column
split_columns = df['Duration'].str.split(r'\s+', expand=True)

# Assign new column names
split_columns.columns = ['Index0', 'Index1', 'Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories']

# Drop the original 'Duration' column and concatenate the new columns
df = df.drop(columns=['Duration']).join(split_columns)

df.drop(columns=['Index0', 'Index1'], inplace=True, axis=1)

df.to_csv('data/data.csv', index=False)

print(df)

   Duration          Date Pulse Maxpulse Calories
0        60  '2020/12/01'   110      130    409.1
1        60  '2020/12/02'   117      145    479.0
2        60  '2020/12/03'   103      135    340.0
3        45  '2020/12/04'   109      175    282.4
4        45  '2020/12/05'   117      148    406.0
5        60  '2020/12/06'   102      127    300.0
6        60  '2020/12/07'   110      136    374.0
7       450  '2020/12/08'   104      134    253.3
8        30  '2020/12/09'   109      133    195.1
9        60  '2020/12/10'    98      124    269.0
10       60  '2020/12/11'   103      147    329.3
11       60  '2020/12/12'   100      120    250.7
12       60  '2020/12/12'   100      120    250.7
13       60  '2020/12/13'   106      128    345.3
14       60  '2020/12/14'   104      132    379.3
15       60  '2020/12/15'    98      123    275.0
16       60  '2020/12/16'    98      120    215.2
17       60  '2020/12/17'   100      120    300.0
18       45  '2020/12/18'    90      112      NaN
19       60  '2020/12/19'   103      123    323.0
20       45  '2020/12/20'    97      125    243.0
21       60  '2020/12/21'   108      131    364.2
22       45           NaN   100      119    282.0
23       60  '2020/12/23'   130      101    300.0
24       45  '2020/12/24'   105      132    246.0
25       60  '2020/12/25'   102      126    334.5
26       60      20201226   100      120    250.0
27       60  '2020/12/27'    92      118    241.0
28       60  '2020/12/28'   103      132      NaN
29       60  '2020/12/29'   100      132    280.0
30       60  '2020/12/30'   102      129    380.3
31       60  '2020/12/31'    92      115    243.0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     object
 1   Date      32 non-null     object
 2   Pulse     32 non-null     object
 3   Maxpulse  32 non-null     object
 4   Calories  32 non-null     object
dtypes: object(5)
memory usage: 1.4+ KB

In [47]:
# Converting the data types from object to its respective types

df['Date'] = pd.to_datetime(df['Date'], format='mixed')
df['Duration'] = df['Duration'].astype('int')
df['Pulse'] = df['Pulse'].astype('int')
df['Maxpulse'] = df['Maxpulse'].astype('int')
df['Calories'] = df['Calories'].astype('float')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.4 KB

- From the above information we can clearly see some missing values

In [48]:
# Checking for missing values for each columns

df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [49]:
# Check for percentage of missing values

(df.isnull().sum()/len(df))*100

Duration    0.000
Date        3.125
Pulse       0.000
Maxpulse    0.000
Calories    6.250
dtype: float64

In [56]:
# As the percentage is less we can replace the missing values with mean/median/mode

# Identify columns with missing values
missing_value_columns = df.columns[df.isnull().sum() > 0]

# Loop through the identified columns and replace NaN values with the mean of the column
for column in missing_value_columns:
    if df[column].dtype in ['float64', 'int64', 'datetime64[ns]']:  # Ensure column is numeric or date time
        # df[column].fillna(df[column].mean(), inplace=True) # Replacing with mean
        df[column] = df[column].fillna(df[column].median()) # Replacing with median

    else:
        print(column)
        df[column] = df[column].fillna(df[column].mode()) # Replacing with mode for object type columns

df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64